.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.purches-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 05px;
    cursor: pointer;
}

.icon-color{
    color: gold;
}